<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/lightbox/jquery.lightbox.css">

    <link rel="stylesheet" href="/css/pages/{{ page }}.css">

    <title>Empty Project</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="Empty Project" />
    <meta name="description" content="Empty Project" />
</head>
<body class="page-{{ page }}">

    <div class="container">
        {% block header %}
        <div class="header col-lg-12">
            <div class="header-menu">
                <ul class="horizontal-menu">
                    <li class="menu-item">
                        <a class="menu-link active" href="/">
                            Главная
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
        <div class="footer col-xs-12">
            <div class="common-information">
                Empty Project
            </div>
        </div>
        {% endblock %}
    </div>

    <script src="/lightbox/jquery.lightbox.min.js"></script>
    <script src="/js/jquery.ae.image.resize.min.js"></script>
    <script src="/js/jquery.lazyload.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>

    <script src="/js/common.js"></script>

</body>
</html>